@{
    ViewData["Title"] = "Privacy Policy";

    ViewData["About_Privacy"] = "About our Privacy policy and how it works";

}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>@ViewData["About_Privacy"] </p>

